# 编译x64固件:
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
# 固件压缩:
CONFIG_TARGET_IMAGES_GZIP=y
# 编译UEFI固件:
# CONFIG_EFI_IMAGES is not set
# IPv6支持:
# CONFIG_PACKAGE_ipv6helper=y
# CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
# 多文件系统支持:
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
# USB3.0支持:
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-ohci-pci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y
# 第三方插件选择:
# Passwall插件:
#CONFIG_PACKAGE_luci-app-passwall=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ipt2socks=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_socks=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_socks=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_kcptun=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_haproxy=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_dns2socks=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_pdnsd=y
#CONFIG_PACKAGE_kcptun-client=y
#CONFIG_PACKAGE_haproxy=y
#CONFIG_PACKAGE_chinadns-ng=y
#CONFIG_PACKAGE_v2ray=y
#CONFIG_PACKAGE_trojan=y
#CONFIG_PACKAGE_brook=y
#CONFIG_PACKAGE_ipt2socks=y
#CONFIG_PACKAGE_shadowsocks-libev-config=y
#CONFIG_PACKAGE_shadowsocks-libev-ss-local=y
#CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
#CONFIG_PACKAGE_shadowsocksr-libev-alt=y
#CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=y
# 常用LuCI插件(禁用):
# 取消文件传输
# CONFIG_PACKAGE_luci-app-filetransfer is not set
# CONFIG_PACKAGE_luci-lib-fs is not set
# 取消流量监控
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_nlbwmon is not set
# CONFIG_PACKAGE_kmod-nf-conntrack-netlink is not set
# 取消内存清理
# CONFIG_PACKAGE_luci-app-ramfree is not set
# 取消ssr服务器
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server is not set
# CONFIG_PACKAGE_shadowsocksr-libev-server is not set
# 取消网易音乐
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_UnblockNeteaseMusic_Go is not set
# CONFIG_UnblockNeteaseMusic_NodeJS is not set
# CONFIG_NODEJS_ICU_NONE is not set
# CONFIG_NODEJS_ICU_SMALL is not set
# CONFIG_NODEJS_ICU_SYSTEM is not set
# CONFIG_PACKAGE_UnblockNeteaseMusic is not set
# CONFIG_PACKAGE_UnblockNeteaseMusicGo is not set
# CONFIG_PACKAGE_libatomic is not set
# CONFIG_PACKAGE_libcares is not set
# CONFIG_PACKAGE_libhttp-parser is not set
# CONFIG_PACKAGE_libnghttp2 is not set
# CONFIG_PACKAGE_libuv is not set
# CONFIG_PACKAGE_node is not set
# 取消airplay2
# CONFIG_PACKAGE_luci-app-airplay2 is not set
# CONFIG_PACKAGE_libalac is not set
# CONFIG_PACKAGE_libconfig is not set
# CONFIG_PACKAGE_libpopt is not set
# CONFIG_PACKAGE_libsoxr is not set
# CONFIG_PACKAGE_shairport-sync-openssl is not set
# 取消music-remote-center
# CONFIG_PACKAGE_luci-app-music-remote-center is not set
# CONFIG_PACKAGE_ca-bundle is not set
# CONFIG_PACKAGE_confuse is not set
# CONFIG_PACKAGE_fdk-aac is not set
# CONFIG_PACKAGE_forked-daapd is not set
# CONFIG_PACKAGE_lame-lib is not set
# CONFIG_PACKAGE_libantlr3c is not set
# CONFIG_PACKAGE_libcap is not set
# CONFIG_PACKAGE_libcurl is not set
# CONFIG_PACKAGE_libffmpeg-full is not set
# CONFIG_PACKAGE_libgcrypt is not set
# CONFIG_PACKAGE_libgnutls is not set
# CONFIG_PACKAGE_libgpg-error is not set
# CONFIG_PACKAGE_libnettle is not set
# CONFIG_PACKAGE_libopus is not set
# CONFIG_PACKAGE_libplist is not set
# CONFIG_PACKAGE_libprotobuf-c is not set
# CONFIG_PACKAGE_libunistring is not set
# CONFIG_PACKAGE_libwebsockets-openssl is not set
# CONFIG_PACKAGE_mxml is not set
# CONFIG_PACKAGE_sqlite3-cli is not set
# 取消amule
# CONFIG_PACKAGE_luci-app-amule is not set
# CONFIG_PACKAGE_amule is not set
# CONFIG_PACKAGE_libbfd is not set
# CONFIG_PACKAGE_libcryptopp is not set
# CONFIG_PACKAGE_libpng is not set
# CONFIG_PACKAGE_libupnp is not set
# CONFIG_PACKAGE_libwxbase is not set
# 取消qbittorrent
# CONFIG_PACKAGE_luci-app-qbittorrent is not set
# CONFIG_PACKAGE_boost-chrono is not set
# CONFIG_PACKAGE_boost-random is not set
# CONFIG_PACKAGE_icu is not set
# CONFIG_PACKAGE_libdb47 is not set
# CONFIG_PACKAGE_libdouble-conversion is not set
# CONFIG_PACKAGE_libffi is not set
# CONFIG_PACKAGE_libpcre2-16 is not set
# CONFIG_PACKAGE_libzstd is not set
# CONFIG_PACKAGE_python is not set
# CONFIG_PACKAGE_python-base is not set
# CONFIG_PACKAGE_python-codecs is not set
# CONFIG_PACKAGE_python-compiler is not set
# CONFIG_PACKAGE_python-ctypes is not set
# CONFIG_PACKAGE_python-db is not set
# CONFIG_PACKAGE_python-decimal is not set
# CONFIG_PACKAGE_python-distutils is not set
# CONFIG_PACKAGE_python-email is not set
# CONFIG_PACKAGE_python-gdbm is not set
# CONFIG_PACKAGE_python-light is not set
# CONFIG_PACKAGE_python-logging is not set
# CONFIG_PACKAGE_python-multiprocessing is not set
# CONFIG_PACKAGE_python-ncurses is not set
# CONFIG_PACKAGE_python-openssl is not set
# CONFIG_PACKAGE_python-pydoc is not set
# CONFIG_PACKAGE_python-sqlite3 is not set
# CONFIG_PACKAGE_python-unittest is not set
# CONFIG_PACKAGE_python-xml is not set
# CONFIG_PACKAGE_qBittorrent is not set
# CONFIG_PACKAGE_qt5-core is not set
# CONFIG_PACKAGE_qt5-network is not set
# CONFIG_PACKAGE_qt5-xml is not set
# CONFIG_PACKAGE_rblibtorrent is not set
# 取消激活win
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_vlmcsd is not set
# 取消vftp
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_vsftpd-alt is not set
# CONFIG_VSFTPD_USE_UCI_SCRIPTS is not set
# 取消迅雷加速
# CONFIG_PACKAGE_luci-app-xlnetacc is not set
# 取消zerotier
# CONFIG_PACKAGE_luci-app-zerotier is not set
# CONFIG_PACKAGE_kmod-tun is not set
# CONFIG_PACKAGE_libminiupnpc is not set
# CONFIG_PACKAGE_libnatpmp is not set
# CONFIG_PACKAGE_zerotier is not set
# CONFIG_ZEROTIER_ENABLE_DEBUG is not set
# CONFIG_ZEROTIER_ENABLE_SELFTEST is not set
# 常用LuCI插件(启用):
# 增加主题argon
CONFIG_PACKAGE_luci-theme-argon=y
# 增加adbyby
CONFIG_PACKAGE_luci-app-adbyby-plus=y
CONFIG_PACKAGE_adbyby=y
# 增加多拨
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_mwan3=y
# 增加curl、snmp
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libnetsnmp=y
CONFIG_PACKAGE_smartsnmpd=y
CONFIG_PACKAGE_snmpd=y
# 增加常用软件包
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_tree=y
CONFIG_PACKAGE_vim-fuller=y
CONFIG_PACKAGE_wget=y
# 编译VMware镜像以及镜像填充:
CONFIG_TARGET_IMAGES_PAD=y
# CONFIG_VMDK_IMAGES is not set
